@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    font-family: inherit;
    /* 1 */
    font-size: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}


/*navbar*/

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 32px;
}

.logo_block {
    display: flex;
}

.logo_block a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    /* identical to box height, or 48% */
    color: #556686;
    text-decoration: none;
}

.logo_block span {
    margin-top: 7px;
    margin-left: 11px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #000000;
}





.info-button button {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    width: 246px;
    height: 48px;
    background: #2d72cd;
    border: none;
    cursor: pointer;
}

.info-button button:hover {
    transition: 1s;
    background-color: rgb(29, 72, 130);
}

.nav_number a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    text-decoration: none;
    color: #000000;
}

.number_link a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5284f7;
    text-decoration: none;
}

.number_link a:hover {
    border-bottom: 1px dashed #5284f7;
}

.number_link img {
    position: relative;
    top: 3px;
}

.nav_number,
.info-button {
    position: relative;
    top: 5px;
}

.hr {

    border: 1px solid #aeb6bb;
    transform: rotate(180deg);
    margin-top: 21px;
}

/*main*/

main {
    max-width: 1920px;
    margin: auto;
}

.opening_block {
    background-size: 860px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../images/main_metal1.png);
}

.op-block_1 {
    margin-left: 90px;
    margin-top: 168px;
}

.op-block_1 h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 56px;
    /* or 150% */
    width: 634px;
    color: #213252;
}

.op-block_1 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    /* or 164% */
    width: 504px;
    color: #213252;
    margin-top: 41px;
}

.op-block_1 button {
    width: 400px;
    height: 69px;
    background: #2d72cd;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-top: 73px;
}

.op-block_1 button:hover {
    transition: 1s;
    background-color: rgb(29, 72, 130);
}

main hr {
    margin-top: 187px;
}

.product_text {
    margin-left: 90px;
    margin-top: 106px;
}

.product_text h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    width: 688px;
    color: #213252;
}

.product_text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #213252;
    margin-top: 10px;
}

.product_text h2 {
    font-family: "Inter";
    margin-top: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #213252;
}

.product_tabs {
    margin-left: 90px;
    margin-top: 33px;
}

.product-top {
    display: flex;
}

.product-top p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: 19px;
    color: #213252;
}

.product-top div {
    width: 206px;
    height: 134px;
    border: 1px solid #aeb6bb;
}

.product-top div:hover {
    background: #edf1f4;
}

.product-top img {
    margin-top: 23px;
    margin-left: 85px;
}

/* h1 {
  padding: 40px 0 20px;
  font: 40px/60px Gabriela, Georgia, serif;
  text-align: center;
  text-shadow: 3px 3px rgba(0,0,0,0.1);
  color: #fff;  
} */

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*====PRODUCT_TAB====*/
.page {
    position: relative;
    margin-left: 90px;
    margin-top: 33px;
    padding: 0 0px 40px;
}

/**/
/* main styles */
/**/
.pcss3t {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 0;
    text-align: left;
}

.pcss3t>input {
    position: absolute;
    left: -9999px;
}

.pcss3t>label {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
    -o-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.pcss3t>input:checked+label {
    cursor: default;
}

.pcss3t>.tab_list {
    list-style: none;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 13px;
}

.pcss3t>.tab_list>.typography {
    position: absolute;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
    transition: all 0.5;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}




.pcss3t>.tab-content-first:checked~.tab_list .tab-content-first,
.pcss3t>.tab-content-2:checked~.tab_list .tab-content-2,
.pcss3t>.tab-content-3:checked~.tab_list .tab-content-3,
.pcss3t>.tab-content-4:checked~.tab_list .tab-content-4,
.pcss3t>.tab-content-5:checked~.tab_list .tab-content-5,
.pcss3t>.tab-content-6:checked~.tab_list .tab-content-6,
.pcss3t>.tab-content-7:checked~.tab_list .tab-content-7,
.pcss3t>.tab-content-8:checked~.tab_list .tab-content-8,
.pcss3t>.tab-content-9:checked~.tab_list .tab-content-9,
.pcss3t>.tab-content-last:checked~.tab_list .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(0deg);
}

/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/

/**/
/* grid */
/**/

/**/
/* typography */
/**/
/*.pcss3t .typography {
    color: #666;
}*/

/*.pcss3t .typography .link {
    text-decoration: underline;
    color: #1889e6;
    cursor: pointer;
}*/

/**/
/* steps */
/**/

/**/
/* animation effects */
/**/


/*.pcss3t-effect-scale>.tab_list>.typography {
    -webkit-transform: scale(0.1, 0.1);
}*/

/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top center */
/**/

/**/
/* top combi */
/**/

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {}

/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
    .pcss3t>label {
        display: block;
    }

    .pcss3t>.right {
        float: none;
    }

}

/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t>label {
    padding: 0 15px;
    background: #e5e5e5;
    font-size: 13px;
    line-height: 49px;
}

.pcss3t>label:hover {
    background: #f2f2f2;
}

.pcss3t>input:checked+label {
    background: #fff;
}

.pcss3t>.tab_list {
    background: #fff;
    text-align: left;
}

.pcss3t-steps>label:hover {
    background: #e5e5e5;
}

/**/
/* theme 1 */
/**/
.pcss3t-theme-1>label {
    margin: 0 5px 5px 0;
    background: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    color: #808080;
    opacity: 0.8;
}

.pcss3t-theme-1>label:hover {
    background: #edf1f4;
    opacity: 1;
}

.pcss3t-theme-1>input:checked+label {
    margin-bottom: 0;
    background: #edf1f4;
    padding-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #2b82d9;
    opacity: 1;
}

/*.pcss3t-theme-1>.tab_list {
    border-radius: 0px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

*/
.pcss3t-theme-1>.tab-content-first:checked~.tab_list {
    border-top-left-radius: 0;
}

@media screen and (max-width: 767px) {
    .pcss3t-theme-1>label {
        margin-right: 0;
    }

    .pcss3t-theme-1>input:checked+label {
        margin-bottom: 5px;
        padding-bottom: 0;
        border-radius: 5px;
    }

    .pcss3t-theme-1>.tab-content-first:checked~.tab_list {
        border-top-left-radius: 5px;
    }

    .product_body {
        display: inline-block;
    }
}

@media screen and (max-width: 1024px) {
    .pcss3t>label {
        padding: 0 5px;
    }

    .form_block img {
        display: none;
    }


    .opening_block {
        background-image: none;
    }

}

/**/
/* theme 2 */
/**/
/*  */

/**/
/* theme 3 */
/**/
.pcss3t-theme-3 {
    background: rgba(0, 0, 0, 0.8);
}

.pcss3t-theme-3>label {
    background: none;
    border-right: 1px dotted rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #fff;
    opacity: 0.6;
}

.pcss3t-theme-3>label:hover {
    background: none;
    color: #d9d92b;
    opacity: 0.8;
}

.pcss3t-theme-3>input:checked+label {
    background: #d9d92b;
    color: #000;
    opacity: 1;
}

/*.pcss3t-theme-3>.tab_list {
    border-top: 4px solid #d9d92b;
    border-bottom: 4px solid #d9d92b;
    border-radius: 0;
    box-shadow: none;
}*/
/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t>.tab_list,
.pcss3t>.tab_list {
    height: 600px;
}

label span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 125% */
    text-align: center;
    color: #213252;
}



.tab_img {
    width: 25px;
    position: relative;
    top: 4px;
    right: 5px;
}

.product_body {
    display: flex;
}



.border-enclosure {
    transform: rotate(180deg);
    height: 600px;
    border: 1px solid #AEB6BB;
}


.product_body .content {
    display: block;
}

.product_body .content h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    color: #213252;
}

.content {
    margin-top: 108px;
    margin-left: 60px;

}




.content .content_list_position {
    display: flex;
}

.content .content_list_position ul:nth-child(2) {
    padding-left: 36px;
}




.product_body .content ul {
    list-style-type: disc;
    margin-top: 18px;
    margin-left: 23px;
}

.content ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #213252;
    white-space: nowrap;

}




.list {
    margin-top: 45px;
    margin-left: 60px;
}


.list_position {
    display: flex;
}

.list_position:nth-child(2) {
    margin-top: 22px;
}


.list_position div:nth-child(2) {
    padding-left: 66px;
}

.list_position div ul {
    margin-top: 7px;
}


.list_position h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #213252;
}


.list_position ul {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 166% */
    list-style: disc;
    position: relative;
    white-space: nowrap;
    margin-left: 25px;
    color: #213252;
}

.first,
.sixth {
    margin-top: 209px;
}

.second {
    margin-top: 237px;
}

.third {
    margin-top: 181px;
}

.fourth {
    margin-top: 153px;
}

.fifth {
    margin-top: 43px;
}

/*form_block*/

.form_block {
    background: #1A2C41;
    height: 681px;
    margin: 127px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.form_content h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;

}

.submit_class {
    width: 400px;
    height: 69px;
    background: #2d72cd;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
}


.submit_class:hover {
    transition: 1s;
    background-color: rgb(29, 72, 130);
}

.form_elements {
    display: flex;
    margin-top: 35px;
}

.elements_2 {
    margin-top: 24px;
}

.form_elements .part_2 {
    margin-left: 14px;
}


.form_content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 11px;
}



.form_input {
    background: #FFFFFF;
    border: 1px solid #CDD6DB;
    border-radius: 4px;
    width: 298px;
    height: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    padding: 0 5px;
}

.form_select {
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 16px auto, 100%;
    background-image: url('../images/select_icon.svg');
    color: #65677C;
    border: 1px solid #CDD6DB;
    border-radius: 4px;
    width: 298px;
    height: 57px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    padding: 0 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.form_input:focus,
.form_select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

/*content*/
/*.support_block {
    margin-left: 90px;
    margin-top: 150px;
}
*/

.support_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 162px;
}

.support_block h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #213252;
}

.support_block p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #213252;
    margin: 21px 0 69px 0;
}



.support_position {
    display: flex;
}

.support_position figure {
    margin-left: 105px;
}

.support_content div {
    display: flex;
    align-items: center;
}


.support_content div:nth-child(2),
.support_content div:nth-child(3),
.support_content div:nth-child(4) {
    margin-top: 25px;
}



.support_content div p {
    margin-left: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #213252;
}

p span {
    font-weight: 400;
}


figcaption {
    width: 600px;
    height: 89px;
    background: #211d1d;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

figcaption span {
    position: relative;
    top: 17px;
    left: 49px;
}

/*comfort_block*/

.bubble_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 179px;
}

.bubble_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64.5%;
    height: 260px;
    background: url('../images/bubble_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

}

.bubble_block h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */

    text-align: center;

    color: #FFFFFF;
}